# Build artifacts
[Dd]ebug/
[Rr]elease/
[Bb]in/
[Oo]bj/
bin/
obj/

# Tooling / IDEs
.vs/
.vscode/
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates
*.clw
*.ncb
*.aps
*.psess
*.vsp
*.vspx
*.sap
*.cache
*.log
*.tmp
*.bak

# Server Uploads directory
LANChatServer/bin/
LANChatServer/obj/
LANChatServer/uploads/

# Client Downloaded files
VLANChatClient/bin/
VLANChatClient/obj/

# OS files
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
